<h1>Ny aktivitet</h1>

<%= form_for :activity, url: activities_path  do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.label :participants %><br>
    <%= f.text_area :participants %>
  </p>

  <p>
    <%= f.label :time_req %><br>
    <%= f.text_area :time_req %>
  </p>

  <p>
    <%= f.label :resources_req %><br>
    <%= f.text_area :resources_req %>
  </p>

  <p>
    <%= f.label :location_req %><br>
    <%= f.text_area :location_req %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end 

<%= link_to 'Tilbake', activities_path %>
