<p>
  <strong>Tittel:</strong>
  <%= @activity.title %>
</p>

<p>
  <strong>Tekst:</strong>
  <%= @activity.body %>
</p>


<p>
  <strong>Deltagere:</strong>
  <%= @activity.participants %>
</p>
<p>
  <strong>Tid:</strong>
  <%= @activity.time_req %>
</p>
<p>
  <strong>Ressurser:</strong>
  <%= @activity.resources_req %>
</p>
<p>
  <strong>Sted:</strong>
  <%= @activity.location_req %>
</p>


<%= link_to 'Rediger', edit_activity_path(@activity) %> | 
<%= link_to 'Tilbake', activities_path %>
